* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    overflow: hidden;
    font-family: Helvetica, sans-serif;
}
.reactionSolver {
    display: flex;
    flex-direction: column;
}
#canvas1 {
    position: absolute;
    cursor: pointer;
    border: 3px solid black;
    top: 20px;
    left: 20px;

}
.toolbar {
    margin-top: 228px;
    margin-left: 10px;
    display: inline-block;
}
.toolbar .button {
    background-color: rgba(36, 199, 93, 1);
    border: none;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
}
.toolbar .button:hover {
    background-color: rgba(36, 199, 93, 0.4);
    color: black;
}
.toolbar .atomButton {
    background-color: rgba(218, 40, 38, 0.6);
    border: none;
    color: black;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
}
.toolbar .atomButton:hover {
    background-color: rgba(218, 40, 38, 0.4);
}
.toolbar .bondButton {
    background-color: rgba(43, 137, 187, 0.6);
    border: none;
    color: black;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
}
.toolbar .bondButton:hover {
    background-color: rgba(43, 137, 187, 0.4);
}
.toolbar .molecButton {
    background-color: rgba(36, 199, 93, 0.6);
    border: none;
    color: black;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
}
.toolbar .molecButton:hover {
    background-color: rgba(36, 199, 93, 0.4);
}
#submitBtn {
    margin-left: 30px;
    background-color: white;
    border: 2px solid #4CAF50;
    color: black;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    font-weight: 750;
    border-radius: 3px;
    font-size: 10px;
}
#submitBtn:hover {
    background-color:rgba(36, 199, 93, 0.2)
}
#benzeneBtn {
    margin-left: 8px;
    /*
    background-image: url(./htmlPics/benzene.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5px;
    */
}
#benzeneBtn:hover {
    background-color: rgba(36, 199, 93, 0.4);
}
#singleBtn {
    margin-left: 8px;
}
#carbonBtn {
    margin-left: 8px;
}
#clearBtn {
    margin-left: 15px;
}
